.gitignore
.bowerrc
.idea
.nuget
**/.gulp*
**/gulp-tsc-tmp*
gulpfile.*
node_modules
bower_components
tests
coverage
documentation
typings
*.cmd
.npmignore
test.js
tsconfig.json
tsd.json
bower.json
.babelrc
dist
_*