.gitignore
.bowerrc
.idea
.nuget
.gulp*
gulp-tsc-tmp*
gulpfile.*
node_modules
bower_components
tests
coverage
documentation
typings
coverage.cmd
.npmignore
test.js
tsc-flags.txt
tsconfig.json
tsd.json
bower.json
.babelrc
dist
_*